@font-face {
	font-family: "FontAwesome5FreeSolid";
	src: url("../fonts/FontAwesome5FreeSolid.ttf");
}
@font-face {
	font-family: "Maven Pro Black";
	src: url("../fonts/Maven Pro Black.ttf");
}
@font-face {
	font-family: "Maven Pro Bold";
	src: url("../fonts/Maven Pro Bold.ttf");
}
@font-face {
	font-family: "Maven Pro Medium";
	src: url("../fonts/Maven Pro Medium.ttf");
}
@font-face {
	font-family: "Maven Pro Regular";
	src: url("../fonts/Maven Pro Regular.ttf");
}
