@import fonts.css;
body {
   font-family: "Maven Pro";
}

ul,
li {
   display: block;
   padding: 0;
   margin: 0;
}
/*Меню*/
.menu-bar {
   padding: 20px 0;
   color: #fff;
}

.menu__item {
   margin-left: 30px;
}

.menu__item a {
   font-family: "Maven Pro Regular";
   font-size: 16px;
   color: #fff;
}

.menu__item a:hover {
   text-decoration: none;
}
button {
   font-family: "Maven Pro Bold";
   font-size: 16px;
   text-transform: uppercase;
   padding: 5px 10px;
   margin-right: 5px;
   cursor: pointer;
   color: white;
   border-radius: 5px;
   transition: 0.3s;
   background: transparent;
   border: 1px solid white;
}
button:hover {
   background: #ff5151;
   border: #ff5151;
}
.menu__title {
   padding-top: 180px;
   font-size: 55px;
}

.menu__text {
   font-size: 20px;
   margin-bottom: 100px;
}
/*Шапка*/
.bg {
   background-size: cover;
   background-position: 0 100%;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/top-baner.png);
}
.header {
   color: white;
   text-align: center;
   padding: 133px 0;
}

.header__title {
   font-family: "Maven Pro Black";
   font-size: 80px;
   color: #8ae2e2;
}

.header__subTitle {
   font-family: "Maven Pro Black";
   font-size: 58px;
}
.header__text {
   font-family: "Maven Pro Regular";
   font-size: 26px;
}
mark {
   background: none;
   font-family: "Maven Pro Black";
   font-size: 26px;
   color: #8ae2e2;
}
.button {
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   margin-top: 50px;
   padding: 1px 43px;
   font-family: "Maven Pro Bold";
   font-size: 26px;
}
